{%extends './base.html' %}
{%block content%}
<div class="col-6 mx-auto">
    {%if user.is_authenticated %}
    <div class="text-center">
        <h1 class="display-1 font-weight-bold">Essence</h1>
        <p class="lead col-8 mx-auto">
            Ever read a passage in a book that felt especially poignant, or have a part of a song that really stands out?
            Essence is a website built to save and remember the essence of media like those.
            Currently, you can save a moment as a text quote or a video/audio quote via youtube with a start and end time.   
        </p>
        <br>
        <h1 class="display-6 font-weight-bold">
            Get started by creating a new text or Youtube quote:
        </h1>
    </div>
    <br>
    <div class="row col-6 mx-auto">
        <a class="col" href="{% url 'essence:text_create' %}">
            <button type="button" class="btn btn-outline-secondary btn-lg px-4 gap-3">Text Quote</button>
        </a>
        <a class="col" href="{% url 'essence:youtube_create' %}">
            <button type="button" class="btn btn-outline-danger btn-lg px-4 gap-3">Youtube Quote</button>
        </a>
    </div>
    <br>
    <h1 class="text-center">Your quotes at a glance...</h1>
    <h2>Text Quotes</h2>
    <ul>
        {% for te in text %}
        <li>{{ te.metadata.title }}</li>
        {% empty %}
        <li>No text quotes yet.</li>
        {% endfor %}
    </ul>
    <h2>Youtube Quotes</h2>
    <ul>
        {% for yt in youtube %}
        <li>{{ yt.metadata.title }}</li>
    {% empty %}
        <li>No youtube quotes yet.</li>
    {% endfor %}
    </ul>
    {%else%}
        <h1 class="display-1">Not Logged in?</h1>
        <br/>
        <a class="btn btn-primary" href="{% url 'login' %}">Log In</a>
        <br/>
        <h3 class="mt-4">New User?</h3>
        <a class="btn btn-secondary" href="{% url 'essence:register' %}">Create Account</a>
    {%endif%}
</div>
{%endblock%}